<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenHPI - P2P CDN</title>

    <style>
        .button {
            background-color: #e7e7e7;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

    <link href="https://vjs.zencdn.net/7.0.5/video-js.css" rel="stylesheet">

    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    <script src="p2pCDN.js"></script>

    <script src="faye-browser.js"></script>

    <script> // init
    window.onload = function() {
      var config = {
        channel: 'FIXED_CLASS_1',
        clientId: '<%= sessionID %>',
        idLength: 32,
        stunServer: {
          'iceServers': [
            // {
            //   'urls': 'stun:stun.l.google.com:19302',
            // },
          ]
        },
        logLevel: 'all',
        verbose: true,
        serviceWorker: {
            urlsToShare:
              [
                // '/img/',
                // '/video/',
                '/testfiles/'
              ],
              path: '/p2pCDNsw.js',
              scope: '/',
              basePath: '/',
              storageQuota: '10000',
              fetchTimeout: 10000000000,
              cachingEnabled: false,
              verbose: true,
              statisticPath: '/logs'
          }
        };
      cdn = new P2pCDN(config);
    };
    </script>


    <script src="https://vjs.zencdn.net/7.0.5/video.js"></script>
</head>
<body>
<div style="float: left; width: 50%">
    <h1>OpenHPI: P2P CDN - Demo</h1>

    <p id="dataSmall" style="display: block"></p>

    <div id="stats" style="display: block">
        <p id="peerid"></p>
        <p id="connections"></p>
        <p id="peers"></p>
    </div>

    <div style="display: block">
        <button id="btnDataSmall" class="button">Small resource</button>
        <button id="btnDataBig" class="button">Big resource</button>
    </div>

</div>

<div style="float: right; width: 50%">

    <div style="float: left;">
        <p id="dataBig" style="float: left"><img style="height: 250px; width: auto;" src="img/fab.gif"></p>

        <div style="float: left">
            <video id="video"
                   class="video-js vjs-default-skin"
                   height="220"
                   width="380"
                   controls>
                <p>
                    Your browser doesn't support video.
                </p>
                <source src="/video/example_video.m3u8">
            </video>
        </div>
    </div>

</div>

<script>
  document.addEventListener('ui:onUpdate', function(event) {
    if (!document.getElementById('peerid'))
      return;

    var peer = event.detail;
    var id = document.getElementById('peerid');
    var conCount = document.getElementById('connections');
    var peersInfo = document.getElementById('peers');

    id.innerHTML = 'PeerId: ' + peer.peerId;

    conCount.innerHTML = 'Connections: ' + peer.peers.length + '</br>';
    peersInfo.innerHTML = '';
    for (var i = 0; i < peer.peers.length; i++) {
      var tmpPeer = peer.peers[i];
      peersInfo.innerHTML += '&emsp; Id: ' + tmpPeer.id + ' &emsp; resources: ' + tmpPeer.resources.length + '</br>';
    }
  });

  document.getElementById('btnDataBig').onclick = function() {
    var doc = document.getElementById('dataBig');
    // doc.innerHTML += '<img style="height: 250px; width: auto;" src="img/fab.gif">';
    // doc.innerHTML += '<img style="height: 250px; width: auto;" src="img/fab.gif">';
    // doc.innerHTML += '<img style="height: 250px; width: auto;" src="img/fab.gif">';
    // doc.innerHTML += '<img style="height: 250px; width: auto;" src="img/fab.gif">';
    // doc.innerHTML += '<img style="height: 250px; width: auto;" src="img/fab.gif">';
    // doc.innerHTML += '<img style="height: 250px; width: auto;" src="img/fab.gif">';
    // doc.innerHTML += '<img style="height: 250px; width: auto;" src="img/fab.gif">';
    // var xhttp = new XMLHttpRequest();
    // xhttp.open("GET", "img/fab.gif", true);
    // xhttp.send();
    // var xhttp = new XMLHttpRequest();
    // xhttp.open("GET", "img/fab.gif", true);
    // xhttp.send();
    // var xhttp = new XMLHttpRequest();
    // xhttp.open("GET", "img/fab.gif", true);
    // xhttp.send();
    var testfiles = [
      // "testfiles/1mb",
      // "testfiles/5mb",
      // "testfiles/10mb",
      // "testfiles/20mb",
      // "testfiles/30mb",
      // "testfiles/40mb",
      // "testfiles/50mb",
      "testfiles/60mb"]
    // var request_testfiles = function() {
    //   for(var i=0; i<testfiles.length; i++) {
    //
    //   }
    // }
    var request_testfile = function(path, index) {
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", path, true);
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4) {
          if(index < testfiles.length-1) {
            request_testfile(testfiles[index+1], index+1);
          }
          // if (times >= 0) {
          //   request_testfile(path, times-1)
          // }
        }
      }
      xhttp.send();
    }
    request_testfile(testfiles[0], 0)

  };

  document.getElementById('btnDataSmall').onclick = function() {
    var doc = document.getElementById('dataSmall');
    doc.innerHTML += '<img style="height: 60px; width: auto;" src="img/hpi.png">';
  };
  document.addEventListener("DOMContentLoaded", function(event) {
    videojs(document.querySelector('video', {autoplay: true})).play();
  });

</script>

</body>
</html>
